body {
  background-image: url(/assets/tombstones.gif);
  background-size: cover;
}

.deathtitle {
  background-color: rgba(0, 0, 0, 0.294);
  color: rgb(255, 0, 0);
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  border-radius: 10px;
}

.deathcharger {
  width: 750px;
  background-color: rgba(0, 0, 0, 0.294);
  color: rgb(255, 0, 0);
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.deathmenu {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.294);
  color: rgb(255, 0, 0);
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
}
